input,
textarea,
select {
    @include media(tablet) {
        max-width: 350px;
    }

    &:focus {
        @include focus-state;
        border-color: $text-colour;
        box-shadow: none;
    }

    .item_error & {
        border-color: $error-colour !important;
        border-width: 4px;
    }
}

.form-group,
.form-horizontal .form-group {
    margin: 0 0 $gutter;
    padding: 0;

    &.item_error {
        border-left: 5px solid $error-colour;
        padding-left: $gutter-half;

        label {
            color: $text-colour;
        }
    }
}

.control-label,
.form-horizontal .control-label {
    @include bold-19;
    display: block;
    float: none;
    line-height: 1.31579;
    margin: 0;
    padding: 0 0 5px;
    text-align: left;
    width: auto;
}

.form_value {
    float: none;
    padding: 0;
    width: auto;
}

.form-control {
    height: auto;

    &:focus {
        @include focus-state;
        border-color: $text-colour;
    }
}

select.form-control {
    display: inline-block;
    max-width: 100%;
    width: auto;
}

input.form-control,
textarea.form-control {
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
}

.radio_group {
    @include clearfix;

    input {
        position: absolute;
        left: -9999px;
        top: 4px;
        opacity: 0;

        &:checked {
            & + label {
                &::after {
                    zoom: 1;
                    opacity: 1;
                }
            }
        }
    }

    label {
        @include core-19;
        cursor: pointer;
        float: left;
        display: block;
        margin: 0 $gutter 0 0;
        padding: 8px 10px 9px 50px;
        position: relative;
        touch-action: manipulation;

        @include media(tablet) {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        &::before {
            content: "";
            border: 2px solid;
            background: transparent;
            width: 38px;
            height: 38px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
        }

        &::after {
            content: "";
            border: 10px solid;
            width: 0;
            height: 0;
            position: absolute;
            top: 9px;
            left: 9px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            zoom: 1;
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }
}