// general hackiness and undoing of styling

body.configjail,
body.fasttrack {
    padding: 0;
}

.config_banner,
.social-media-login-links,
.cookie-policy,
.nav-top,
.user-head-section,
#options,
#symbol_key,
.opportunity-application-title,
a[name=startcontent],
.hform_req_ph {
    display: none;
}

form.hform button {
    clear: both;
    float: none;
}

form.cand_account_form {
    max-width: none;
}

#item_login_form_password {
    margin-bottom: 0;
}

#login_form_form_submit,
#register_form_form_submit {
    margin: 0 0 $gutter-half;

    @include media(tablet) {
        margin: 0 0 $gutter;
    }
}

.forgot_pass_link,
.create_account_link,
.login_form_link {
    @include core-19;
    clear: both;
    display: block;
    margin: 0 0 $gutter-half;
    text-align: left;
}

.eform_page_title {
    @include bold-36;
}

.app-status-desc,
.app-status-process-buttons,
.app-status,
.app-status h3,
.app-heading {
    padding: 0;
    margin: 0;
}

.app-status-process-buttons,
.app-status,
.app-heading {
    margin-bottom: $gutter;
}

.app-status-desc br {
    display: inline;
}